@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Use 'margin: auto' for non flexbox/grid projects */


/* Fits images in containers no matter the size */

img {
   max-width: 100%;
   height: auto;
}

:root {
  --neon-green: #53FFAA;
  --dark-grayish-blue: #313A48;
  --dark-blue: #202733;
  --light-cyan: #CEE3E9;
}

.canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-blue);
}

.container {
  display: flex;
  justify-content: center;
  width: 23.438em;
  height: 41.688em;
  background-color: var(--dark-blue);
  position: relative;
}

.quote-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21.438em;
  height: 20em;
  margin-top: 9.5em;
  margin-bottom: -200px;
  background-color: var(--dark-grayish-blue);
  box-shadow: 1.875em 3.125em 5em 0em rgba(0, 0, 0, 0.10);
  border-radius: 0.625em;
}

.advice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 1em;
  color: var(--neon-green);
  font-family: 'Manrope', sans-serif;
  font-size: 0.688rem;
  font-weight: 400;
  letter-spacing: 0.216em;
  text-transform: uppercase;
  margin-top: 3.9em;
}

.quote {
  display: flex;
  width: 10em;
  height: 5.5em;
  justify-content: center;
  align-items: center;
  color: #CEE3E9;
  font-family: 'Manrope', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 1.4em;
  letter-spacing: -0.016em;
  /* border: 2px solid white; */
  text-align: center;
}

.design {
  margin-top: 1.9em;
  width: 18.438em;
  height: 1em;
}

.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  background-color: #53FFAA;
  border-radius: 50%;
  position: absolute;
  /* bottom: 18em; */
  bottom: 24.5%;
  transition: 2s ease;
}

.dice {
  width: 1.5em;
  height: 1.5em;
  align-items: center;
}

.dice-container:hover {
  cursor: pointer;
  filter: drop-shadow(0.313em 0.313em 1.188em #53FFAA);
}

footer a {
  font-size: 0.9rem;
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  animation: smoothFill 5s ease-out 0s infinite both;
  width: 80%;
}

.footer-container {
  font-family: 'Manrope', sans-serif;
  font-size: 0.9rem;
  color: #CEE3E9;
  text-align: center;
}


@keyframes smoothFill {
  00%,0%{
    color: #ff0000;
  }
  8%{
    color: #ff7f00;
  }
  16%{
    color: #ffff00;
  }
  25%{
    color: #7fff00;
  }
  33%{
    color: #00ff00;
  }
  41%{
    color: #00ff7f;
  }
  50%{
    color: #00ffff;
  }
  58%{
    color: #007fff;
  }
  66%{
    color: #0000ff;
  }
  75%{
    color: #7f00ff;
  }
  83%{
    color: #ff00ff;
  }
  91%{
    color: #ff007f;
  }
}

@media (min-width: 450px) {

  .container {
    max-width: 70%;
    width: 90em;
  }

  .quote-card {
    max-width: 100%;
    width: 34.063em;
    height: 20.75em;
    border-radius: 0.938em;
  }
  
  .quote {
    max-width: 85%;
    font-size: 1.75rem;
    width: 27.75em;
    height: 114px;
  }

  .advice {
    font-size: 0.813rem;
    font-weight: 800;
  }

  .design {
    max-width: 90%;
    width: 27.75em;
    height: 1.2em;
  }

  /* .dice-container {
    bottom: 402px;
  } */
}