@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Use 'margin: auto' for non flexbox/grid projects */


/* Fits images in containers no matter the size */

img {
   max-width: 100%;
   height: auto;
}

:root {
  --neon-green: #53FFAA;
  --dark-grayish-blue: #313A48;
  --dark-blue: #202733;
  --light-cyan: #CEE3E9;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #202733, #323641, #44464f, #56575d, #68686c, #6a6a6e, #6b6b6f, #6d6d71, #5f5f66, #50525c, #414652, #313a48);
}

.container {
  display: flex;
  justify-content: center;
  width: 375px;
  height: 667px;
  border: 2px solid black;
  background-color: var(--dark-blue);
}

.quote-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 343px;
  height: 315px;
  margin-top: 120px;
  background-color: var(--dark-grayish-blue);
  border-radius: 10px;
  position: relative;
}

.advice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 15px;
  color: var(--neon-green);
  font-family: 'Manrope', sans-serif;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 3.457px;
  text-transform: uppercase;
  margin-top: 40px;
}



.quote {
  display: flex;
  width: 295px;
  height: 132px;
  justify-content: center;
  align-items: center;
  color: #CEE3E9;
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 800;
  margin-top: 24px;
  letter-spacing: -0.257px;
  text-align: center;
}

.design {
  margin-top: 32px;
  width: 295px;
  height: 16px;
}

/* INVOKE THE FOLLOWING ONCE TEXT HAS BEEN ESTABLISHED */

.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: #53FFAA;
  border-radius: 50%;
  position: absolute;
  bottom: -32px;
  transition: 2s ease;
}

.dice {
  width: 24px;
  height: 24px;
}

.dice-container:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px 19px #53FFAA);
};